{% load static %} 

<nav id="sidebar">
        <div class="sidebar-header">
            <img src="{% static 'images/sinoftec_logo.png' %}">
        </div>

        <ul class="list-unstyled components">
            <li>
                <img src="{% static 'images/icons/agv-icon.png' %}">
                <a href="#">Agvs</a>
            </li>
            <li>
                <img src="{% static 'images/icons/bloc-icon.png' %}">
                <a href="#">Blocs</a>
            </li>
            <li>
                <img src="{% static 'images/icons/poste-icon.png' %}">
                <a href="#">Postes</a>
            </li>
        </ul>
    </nav>