{% extends "layouts/app.html" %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/sidebar.css' %}">
{% endblock %}

{% block content %}
    {% include 'layouts/dashboard_sidebar.html' %}
    <aside class="aside">
        <h1 class="dashboard-title">Dashboard</h1>
       <article class="charts">
            <canvas id="totals-chart" width="400" height="200"></canvas>
            {% if commands_last_week %}
                <img src="{{ commands_last_week }}" alt="Commands last week" class="img-fluid commandsLast7">
            {% endif %}
       </article>
    </aside>

    <script>
       window.totalAGVs = {{ total_agvs }};
       window.totalBLOCs = {{ total_blocs }};
       window.totalPOSTEs = {{ total_postes }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/dashboard/totals.js' %}"></script>
{% endblock content %}