{% extends "layouts/app.html" %}
{% load static %}

{% block head %}
    <title>Envoyer Agv</title>
    <link rel="stylesheet" href="{% static 'css/commandes/send.css' %}">
{% endblock head %}

{% block content %}
    <form method="post" action='{% url "sendCommand"%}'>
        {% csrf_token %}
        {% for field in form %}
            <div class="input-group mb-3">
                <label for="{{ field.id_for_label }}" class="input-group-text col-3">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Envoyer</button>
    </form>
{% endblock content %}