{% extends "layouts/app.html" %}
{% load static %}

{% block head %}
    <title>Envoyer Agv</title>
    <link rel="stylesheet" href="{% static 'css/commandes/send.css' %}">
{% endblock head %}

{% block content %}
    <div class="send">
        <form method="post" action='{% url "sendCommand"%}' class="send-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group mb-3">
                    <label for="{{ field.id_for_label }}" class="input-group-text col-3">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Envoyer</button>
        </form> 
    </div>

    <div class="agvs-coming">
        {% for commanade in agvsToBloc %}
            <div class="agv">
                <p class="agv-to">
                    {{ commanade }}
                </p>
                <form method="post" action='{% url "update_status" commanade.id  %}'>
                    {% csrf_token %}
                    <input type="hidden" name="method" value="PUT">
                    <button type="submit" class="btn confirm-reception" data-commande-id="{{ commanade.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                    </svg>
                </button>
                </form>
            </div>
        {% endfor %}
        <div>
            <ul class="pagination">
              {% if agvsToBloc.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ agvsToBloc.previous_page_number }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              {% endif %}
          
              {% for num in agvsToBloc.paginator.page_range %}
                {% if num == agvsToBloc.number %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
          
              {% if agvsToBloc.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ agvsToBloc.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Next</span>
                </li>
              {% endif %}
            </ul>
        </div>          
    </div>

    
{% endblock content %}